/*HEADER*/
.App {
  text-align: center;
}
.App-header {
  display: flex;
  background-color: #282c34;
}
.App-header img {
  width: 3vw;
  margin-left: 2vw;
  padding: 0.5vw;
}
.App-header ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  align-self: center;
}
.App-header ul li {
  font-size: 1.1vw;
  padding: 1vw 4vw;
  color: floralwhite;
  text-transform: uppercase;
}
.App-header ul li:hover {
  font-size: 1.1vw;
  padding: 1vw 4vw;
  color: floralwhite;
  text-transform: uppercase;
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
}

/*BODY*/
.App-body {
  min-height: 100vh;
  background-image: url('./long-bridge.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5%;
}
.body {
  color: floralwhite;
  margin: 0 auto;
}
.body h1 {
  font-size: 2.5vw;
}

.body p {
  width: 50%;
  font-size: 1.40vw;
  font-weight: lighter;
  margin: 0 auto;
  margin-bottom: 3%;
}
.body button {
  padding: 1.2vw;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  font-size: 1vw;
  font-weight: bold;
  box-shadow: none;
  border: none;
}
.body button:hover{
  color: #61dafb;
  background-color: #282c34;
  border: 2px solid floralwhite;
}

/*FOOTER*/
.App-footer {
  background-color: #282c34;
  color: floralwhite;
  display: flex;
  justify-content: center;
}
.footer{
  display: flex;
  flex-direction: column;
}
.footer ul {
  list-style:none;
  display: flex;
  margin-top: -2px;
}
.footer ul li {
  padding: 0 4vw;
}
.footer ul li:hover {
  padding: 0 4vw;
  color: #61dafb;
}